- content_for :header_css do
  = stylesheet_link_tag 'sign'

.left_container
  .sign_in_panel.large_panel  
    .panel_title.sign_in_panel_title
      使用微博登录
    .form_panel
      = form_tag auth_new_user_path, :method => 'POST' do
        .blank_li.clearfix
          %img{ :src => @auth_hash['avatar_url'], :width => '30', :height => '30', :style => 'vertical-align:middle' }
          = "#{@auth_hash['name']}，已授权成功，请填写您常用的邮箱："
        .blank_li.clearfix
          %span 邮箱:
          %input.white_text{ :type => 'text', :name => 'email' }
          = hidden_field_tag 'auth', @auth_hash.to_json

        .blank_li.clearfix
          %span &nbsp;
          %a.submit_btn.ml10{ :href => 'javascript:;' } 确定

.right_container
  .notices
    %p
      %a{ :href => sign_in_path } 已有账号登录
    %p
      %a{ :href => '#' } 忘记密码？
    %p
      %a{ :href => '#' } 
        = image_tag 'weibo240.png'      


      

