.navbar.clearfix
  .site_logo
    %a{ :href => root_path }
      %span
        = raw "我爱看<b>美剧</b>"
  .menu
    %ul
      %li
        %a{ :href => root_path, :class => url_for == root_path ? 'active' : nil } 首页        
      %li
        %a{ :href => hots_dramas_path, :class => url_for == hots_dramas_path ? 'active' : nil } 热门
      %li
        %a{ :href => timesheet_path, :class => url_for == timesheet_path ? 'active' : nil  } 
          美剧时间表
          %span.new-red
  .search_panel
    = form_tag search_path, :method => 'GET' do
      %input.white_text{ :type => 'text', :value => '搜索剧集...', :name => 'q', :default_text => '搜索剧集...' }
      
  = render "shared/weibo_share_button"

  .user_setting
    %ul
      - if signed_in?
        %li
          %a.active{ :href => notifications_user_path(current_user.login), :class => current_user.unread_notifications_count > 0 ? 'red' : nil }= current_user.unread_notifications_count
        %li
          %a{ :href => user_path(current_user.login), :class => url_for == user_path(current_user.login) ? 'active' : nil }= current_user.login
        %li
          %a{ :href => account_setting_path, :class => url_for == account_setting_path ? 'active' : nil } 设置          
        %li
          %a{ :href => sign_out_path } 退出          
      - else
        %li
          %a{ :href => sign_up_path } 注册
        %li
          %a{ :href => sign_in_path } 登录
        %li.authlogin
          %a.active{ :href => '/auth/weibo' }
            %i.icon.icons_weibo_s_16
            用微博账号登录