- content_for :header_css do
  = stylesheet_link_tag 'topic'
- content_for :header_js do
  = javascript_include_tag 'lib/kindeditor/kindeditor-min', 'lib/kindeditor/lang/zh_CN'

.new_topic_panel.rectangle_panel.common_form
  .panel_name
    发表新主题
  .form_panel
    = form_tag topic_path(@topic), :method => 'PUT' do
      .blank_li.clearfix
        %span.lab 剧集:
        %a.drama_name{ :href => tv_drama_path(@tv_drama) }= @tv_drama.tv_name
      .blank_li.clearfix
        %span.lab 标题:
        %input.long_text{ :type => 'text', :name => 'title', :value => @topic.title }
      .blank_li.clearfix
        %span.lab 正文:
        %span{ :style => 'float:left;width:16px;' }
        %textarea.editor{ :name => 'content' }= @topic.content
      .blank_li.clearfix
        %span.lab &nbsp;
        %a.submit_btn{ :href => 'javascript:;' } 确定

= render 'editor_js'


