- content_for :header_css do
  = stylesheet_link_tag 'topic'
- content_for :header_js do
  = javascript_include_tag 'lib/kindeditor/kindeditor-min', 'lib/kindeditor/lang/zh_CN'

.new_topic_panel.rectangle_panel.common_form
  .panel_name
    发表新主题
  .form_panel
    = form_tag topics_path do
      .blank_li.clearfix
        %span.lab 剧集:
        %a.drama_name{ :href => tv_drama_path(@tv_drama) }= @tv_drama.tv_name
      .blank_li.clearfix
        %span.lab 标题:
        %input.long_text{ :type => 'text', :name => 'title' }
        = hidden_field_tag 'tv_drama_id', @tv_drama.id
      .blank_li.clearfix
        %span.lab 正文:
        %span{ :style => 'float:left;width:16px;' }
        %textarea.editor{ :name => 'content' }
      - if current_user.weibo_uid.present?
        .blank_li.clearfix
          %span.lab 同步到微博:
          %input{ :type => "checkbox", :checked => true, :name => "sync_to_weibo" }

      .blank_li.clearfix
        %span.lab &nbsp;
        %a.submit_btn{ :href => '#' } 确定

= render 'editor_js'


