- content_for :header_css do
  = stylesheet_link_tag 'topic'

- content_for :header_js do
  = javascript_include_tag 'topic'

.topic_detail.rectangle_panel
  .topic_name.panel_name.clearfix
    %sapn.origin= @topic.title
    .opts
      - if can?(:update, @topic)
        %a{ :href => edit_topic_path(@topic) } 编辑 
  .topic_content
    = raw(@topic.content)
  .info_bar.clearfix
    .info_bar_left
      .drama_name
        %a{ :href => tv_drama_path(@tv_drama) }= @tv_drama.tv_name
      .topic_info
        %a.mr10{ :href => user_path(@topic.user_login) }= @topic.user_login
        %span 发表于
        %span.time.mr10.timeago{ :title => @topic.created_at }
        - if @topic.last_replied_user_id.present?
          %span 最后由
          %a{ :href => user_path(@topic.last_replier.login) }= @topic.last_replier.login
          %span.timeago{ :title => @topic.last_replied_at }
    .info_bar_right
      .user_info
        .avatar
          %a{ :href => user_path(@topic.user_login) }
            = image_tag @topic.user.avatar_url(:small)


.replies
  .relies_count
    %span 
      一共收到
      %em= @topic.replies_count
      条回复
  .reply_list
    - if @replies.blank?
      .blank_notice
        还没有人回复...
    - else
      = render :partial => 'replies/reply', :collection => @replies

.post_reply_panel.rectangle_panel
  .poset_panel_title.panel_name
    发表回复
    .opts
      可以使用 @ 回复用户
  - if signed_in?

    .form_panel.clearfix
      .current_avatar
        %a{ :href => user_path(current_user.login) }
          = image_tag current_user.avatar_url(:small)
      .input_panel
        %p
          %textarea.editor.reply_content{ :name => 'content', :'data-topic_id' => @topic.id }
        %p.mt10
          %a.submit_btn.replyBtn{ :href => 'javascript:;' } 确定
  - else
    .blank_notice
      %a{ :href => sign_in_path } 登录
      或
      %a{ :href => sign_up_path } 注册
      后才能发表回复



