- if @resources.blank?
  .blank_notice
    暂时没有下载资源...
- else 
  .res_seasons
    %a{ :href => url_for(:page => 1), :class => params[:season].blank? ? 'active' : nil } ALL
    - @seasons.each do |s|
      %a{ :href => url_for(:season => s), :class => params[:season] == s ? 'active' : nil  }= "S#{s}"     
  - @resources.each do |res| 
    .res_summary
      %span.season= "S#{res.season.to_s} E#{res.episode.to_s}" 
      %span.size= res.episode_size
      %span.ext= res.episode_format
      = download_link_tag(res)
      = play_tag(res)
.pagination_panel
  = will_paginate(@resources, :class => 'digg_pagination')


