.tv_detail.clearfix
  .above.rectangle_panel
    .tv_name.panel_name.clearfix
      %span.origin
        = @tv_drama.tv_name
      .opts
        - if can?(:update, @tv_drama)
          %a{ :href => edit_tv_drama_path(@tv_drama) } 编辑
    .intro.clearfix
      .cover
        %a{ :href => '#' }
          = image_tag @tv_drama.cover_url(:normal)
      .summary
        .alias
          %span.title 又名:
          %span= @tv_drama.alias_names.join(' / ')
        .cates
          %span.title 类别:
          %span= @tv_drama.categories.join(' / ')
        .starring
          %span.title 电视台:
          %span= @tv_drama.tv_station   
        .starring
          %span.title 主演:
          %span= @tv_drama.actors.join(' / ')
        .director
          %span.title 导演:
          %span= @tv_drama.directors.join(' / ')
        .release_date
          %span.title 上映日期:
          %span= @tv_drama.release_date.strftime('%Y-%m-%d')  
        .imdb
          %span.title IMDB:
          %span= @tv_drama.imdb

        .fancy
          = fancy_tag(@tv_drama)
          / %i.icon.icons_fancy
          / %a.like_it{ :href => 'javascript:;', :'data-likeable_type' } 
          /   喜欢 
          /   %span= "(#{@tv_drama.likes_count})"

  .story.rectangle_panel
    .title.panel_name
      简介
    .content
      = @tv_drama.summary
  .tv_relateds
    .nav_tabs.clearfix
      .topics.tab.active
        %a{ :href => 'javascript:;' }= "讨论帖子(#{@tv_drama.topics_count})"
      .downloads.tab
        %a{ :href => '#' } 下载资源(10)
      .news.tab
        %a{ :href => '#' } 相关剧集

    .resource_content
      .topics_panel
        - @topics.each do |topic|
          .topic.clearfix
            .left_side.clearfix
              .avatar
                %a{ :href => user_path(topic.user) }
                  = image_tag 'sample_a.jpg'
              .topic_summary
                .topic_title
                  %a.user_name{ :href => user_path(topic.user) }= "#{topic.user_login}:"
                  %a.topic_title_name{ :href => topic_path(topic) }= topic.title
                .topic_info
                  %span 发表于
                  %span.created_at= topic.created_at.strftime('%F %T')
                  %span 最后由
                  %a.user_name{ :href => '#' } fresh_fish
                  %span 在 10 分钟前回复
            .right_side
              %a.topic_relpy{ :href => topic_path(topic) }= topic.replies_count



      .download_panel
        - 8.times do 
          .res_summary
            %span.season S01
            %span.size 533 MB
            %span.ext RMVB
            %a.download_link{ :href => '#' } Damsels in Distress (2011)x264 (MKV)1080P DD 5.1 DTS Eng NL Subs TBS
      .news_panel


