.tv_detail.clearfix
  .above.rectangle_panel
    .tv_name.panel_name
      = @tv_drama.tv_name
    .intro.clearfix
      .cover
        %a{ :href => '#' }
          = image_tag @tv_drama.cover_url(:normal)
      .summary
        .alias
          %span.title 又名:
          %span= @tv_drama.alias_names.join(' / ')
        .cates
          %span.title 类别:
          %span= @tv_drama.categories.join(' / ')
        .starring
          %span.title 主演:
          %span= @tv_drama.actors.join(' / ')
        .director
          %span.title 导演:
          %span
        .release_date
          %span.title 上映日期:
          %span= @tv_drama.release_date.strftime('%Y-%m-%d')  
        .imdb
          %span.title IMDB:
          %span

        .fancy
          %i.icon.icons_fancy
          %a{ :href => '#' } 
            喜欢 
            %span (123123123)

  .story.rectangle_panel
    .title.panel_name
      简介
    .content
      = @tv_drama.summary
  .tv_relateds
    .nav_tabs.clearfix
      .topics.tab.active
        %a{ :href => '#' } 讨论帖子(82)
      .downloads.tab
        %a{ :href => '#' } 下载资源(10)
      .news.tab
        %a{ :href => '#' } 相关剧集

    .resource_content
      .topics_panel
        - 4.times do
          .topic.clearfix
            .left_side.clearfix
              .avatar
                %a{ :href => user_path(1) }
                  = image_tag 'sample_a.jpg'
              .topic_summary
                .topic_title
                  %a.user_name{ :href => '#' } laohuang:
                  %a.topic_title_name{ :href => topic_path(1) } 广大人民群众只需花33元便可观看著名影星保剑锋被砍头
                .topic_info
                  %span 发表于
                  %span.created_at 2012-09-10 12:00:39
                  %span 最后由
                  %a.user_name{ :href => '#' } fresh_fish
                  %span 在 10 分钟前回复
            .right_side
              %a.topic_relpy{ :href => '#' } 102

          .topic.clearfix
            .left_side.clearfix
              .avatar
                %a{ :href => '#' }
                  = image_tag 'sample_a.jpg'
              .topic_summary
                .topic_title
                  %a.user_name{ :href => '#' } xiaolai:
                  %a.topic_title_name{ :href => '#' } 我揭露一下灵雎的真实身份啊
                .topic_info
                  %span 发表于
                  %span.created_at 2012-09-10 12:00:39
                  %span 最后由
                  %a.user_name{ :href => '#' } fresh_fish
                  %span 在 10 分钟前回复                

                  

            .right_side
              %a.topic_relpy{ :href => '#' } 1002



      .download_panel
        - 8.times do 
          .res_summary
            %span.season S01
            %span.size 533 MB
            %span.ext RMVB
            %a.download_link{ :href => '#' } Damsels in Distress (2011)x264 (MKV)1080P DD 5.1 DTS Eng NL Subs TBS
      .news_panel


