- content_for :header_js do
  = javascript_include_tag 'tv_drama'

.tv_detail.clearfix
  .above.rectangle_panel
    .tv_name.panel_name.clearfix
      %span.origin
        = @tv_drama.tv_name
      .opts
        - if can?(:update, @tv_drama)
          %a{ :href => edit_tv_drama_path(@tv_drama) } 编辑
    .intro.clearfix
      .cover
        %a{ :href => '#' }
          = image_tag @tv_drama.cover_url(:normal)
      .summary
        .alias
          %span.title 又名:
          %span= @tv_drama.alias_names.join(' / ')
        .cates
          %span.title 类别:
          %span= @tv_drama.categories.join(' / ')
        .starring
          %span.title 电视台:
          %span= @tv_drama.tv_station   
        .starring
          %span.title 主演:
          %span= @tv_drama.actors.join(' / ')
        .director
          %span.title 导演:
          %span= @tv_drama.directors.join(' / ')
        .release_date
          %span.title 上映日期:
          %span= @tv_drama.release_date.strftime('%Y-%m-%d')  
        .imdb
          %span.title IMDB:
          %span= @tv_drama.imdb

        .fancy
          = fancy_tag(@tv_drama)
          / %i.icon.icons_fancy
          / %a.like_it{ :href => 'javascript:;', :'data-likeable_type' } 
          /   喜欢 
          /   %span= "(#{@tv_drama.likes_count})"

  .story.rectangle_panel
    .title.panel_name
      简介
    .content
      = @tv_drama.summary
  .tv_relateds
    .nav_tabs.clearfix
      .topics.tab.active
        %a{ :href => 'javascript:;' }= "讨论帖子(#{@tv_drama.topics_count})"
      .downloads.tab
        %a{ :href => 'javascript:;' }= "下载资源(#{@tv_drama.download_resources_count})"
      .news.tab
        %a{ :href => 'javascript:;' } 相关剧集

    .resource_content
      .topics_panel
        = render 'topics'

      .downloads_panel.list_container
        .notice_ment
          .tool_bar
          .content
            下载资源目前只有 720P 迅雷下载，
            %a{ :href => '#' } 欢迎添加资源.
        = render 'resources'

      .news_panel


