- content_for :header_css do
  = stylesheet_link_tag 'sign'

.left_container
  .sign_in_panel.large_panel  
    .panel_title.sign_in_panel_title
      重置密码
    .form_panel
      = form_tag reset_password_path, :method => 'POST' do
        .blank_li.clearfix
          %span 新密码:
          %input.white_text{ :type => 'password', :name => 'password' }
          = hidden_field_tag 'email', @confirm_token.email
          = hidden_field_tag 'token', @confirm_token.token
        .blank_li.clearfix
          %span 确认密码:
          %input.white_text{ :type => 'password', :name => 'password_confirmation' }
        .blank_li.clearfix
          %span &nbsp;
          %a.submit_btn.ml10{ :href => 'javascript:;' } 提交注册

.right_container
  .notices
    %p
      %a{ :href => sign_in_path } 已有账号登录
    %p
      %a{ :href => forgot_password_path } 忘记密码？
    %p
      %a{ :href => '/auth/weibo' } 
        = image_tag 'weibo240.png'      
    %p
      %a{ :href => '/auth/renren' } 
        = image_tag 'renren240.png' 
    %p
      %a{ :href => '/auth/tqq' } 
        = image_tag 'tqq120.png'        

      

