- content_for :header_css do
  %meta{ :property => "wb:webmaster", :content => "48047f650fd5b12e" }
  = stylesheet_link_tag 'index'

.left_container
  .tv_list
    - if @tv_dramas.blank?
      .blank_notice{ :style => 'color: green;' }
        %span 没有找到匹配的数据....
    - else
      - @tv_dramas.each do |tv_drama|
        .tv
          .above.clearfix
            .cover
              %a{ :href => tv_drama_path(tv_drama.id) }
                = image_tag tv_drama.cover_url(:small)
            .tools
              .tv_name
                %a{ :href => tv_drama_path(tv_drama.id), :title => tv_drama.tv_name }= tv_drama.tv_name.truncate(10)
              .likes
                %a{ :href => tv_drama_path(tv_drama.id) }
                  %span 喜欢
                  %em= tv_drama.likes_count
              .topics
                %a{ :href => tv_drama_path(tv_drama.id) }
                  %span 主题
                  %em= tv_drama.topics_count
              .res
                %a{ :href => tv_drama_path(tv_drama.id) }
                  %span 资源
                  %em= tv_drama.download_resources_count

          .last_topic
            - if tv_drama.last_topic_id.present?
              - last_topic = tv_drama.last_topic
              .user.clearfix
                .avatar
                  %a{ :href => user_path(last_topic.user_login), :title => last_topic.user_login }
                    = image_tag last_topic.user.avatar_url(:small), :size => '15x15'
                .topic
                  %a{ :href => topic_path(tv_drama.last_topic_id), :title => last_topic.title }= last_topic.title.truncate(16)
            - else
              .none_topic
                暂无主题...

  .pagination_panel
    = will_paginate(@tv_dramas, :class => 'digg_pagination')
        
= render 'shared_right'            










        