- content_for :header_css do
  = stylesheet_link_tag 'user'

.user_profile
  = render 'profile'


  .user_resources
    = render 'tabs' 

    .resources_content
      .topic_panel
        - if @topics.blank?
          .blank_notice
            暂无帖子...
        - else
          - @topics.each do |topic|
            .topic
              .above
                %a.from_drama{ :href => tv_drama_path(topic.tv_drama_id) }= "•#{topic.tv_drama.tv_name}•"
                %a.topic_name{ :href => topic_path(topic.id) }= topic.title
              .below
                %span 发表于
                %span.created_at.timeago{ :title => topic.created_at }
                - if topic.last_replied_user_id.present?
                  %span 最后由
                  %a.user_name{ :href => user_path(topic.last_replier.login) }= topic.last_replier.login
                  %span.timeago{ :title => topic.last_replied_at }
                  %span 回复
          .pagination_panel
            = will_paginate(@topics, :class => 'digg_pagination')            
      / .download_panel
      / .at_me_panel
      / .notifies_panel




