<!DOCTYPE html>
%html
  %head
    %title 我爱看美剧
    = stylesheet_link_tag 'app'
    = yield :header_css
    = javascript_include_tag 'app'
    = yield :header_js
    = csrf_meta_tags
  %body
    = render 'layouts/shared/header'
    .main_container.clearfix          
      = yield
    = render 'layouts/shared/footer' 