<!DOCTYPE html>
%html
  %head
    = render_page_title
    = stylesheet_link_tag 'app'
    = yield :header_css
    = javascript_include_tag 'app'
    = yield :header_js
    = csrf_meta_tags
    %meta{ :name => 'keywords', :content => @keywords }
    %meta{ :name => 'description', :content => @description }
    %meta{ :property => "wb:webmaster", :content => "48047f650fd5b12e" }

  %body
    = render 'layouts/shared/header'
    .main_container.clearfix
      = render 'shared/flash_notice'          
      = yield
    = render 'layouts/shared/footer'
    = yield :footer_script 