<!DOCTYPE html>
%html
  %head
    = render_page_title
    = stylesheet_link_tag 'app', 'tv_drama'
    = yield :header_css
    = javascript_include_tag 'app'
    = yield :header_js
    = csrf_meta_tags
    %meta{ :name => 'keywords', :content => @keywords }
    %meta{ :name => 'description', :content => @description }

  %body
    = render 'layouts/shared/header'
    .main_container.clearfix
      = render 'shared/flash_notice'
      .tv_left_container
        = yield
      .tv_right_container
        - if can? :create, Topic
          .new_topic.dotted_bottom
            %a.btn{ :href => new_topic_path(:tv_drama_id => @tv_drama.id) } 发表新主题
        .comming_soon.dotted_bottom
          .title_bar
            %a.title 播出预告

          %ul.notice
            - pres = @tv_drama.pre_releases.asc('release_date')
            - if pres.blank?
              %li
                暂时没有播出信息...
            - else
              - pres.each do |pre|
                %li
                  %span.version
                    = pre.season_epi            
                  %span.time
                    = pre.release_date.strftime('%F')
                  %span.week
                    = pre.release_day_of_week

        .new_replies.article_list.dotted_bottom
          .title_bar
            %a.title 最新回复
          %ul
            - if @tv_drama.replies.recent.blank?
              %li 暂无回复...
            - else   
              - @tv_drama.replies.recent.each do |reply|
                %li
                  %a{ :href => topic_path(reply.topic) } 
                    %span= reply.user_login 
                    = reply.content

        .latest_news.article_list
          .title_bar
            %a.title 相关资讯
          %ul
            - articles = @tv_drama.articles.limit(10)
            - if articles.blank?
              %li
                %span 暂无相关资讯...
            - else
              - articles.each do |article|
                %li 
                  %a{ :href => article_path(article), :title => article.title }= article.title.truncate(30)                


    = render 'layouts/shared/footer'
    = yield :footer_script 